* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FF9933;
  height: 12vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .img-flung {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
header .img-flung .cambodia img {
  margin-left: 10px;
  width: 10vh;
  height: 30px;
  margin-top: 5px;
}
header .img-flung .The-UK img {
  margin-right: 10px;
  width: 10vh;
  height: 30px;
  margin-top: 5px;
}
header .imgs img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10vh;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 10vh;
}
header .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80vh;
  margin-left: 90vh;
  gap: 15px;
}
header .link ul li {
  list-style: none;
  font-size: 25px;
}
header .link ul li:hover {
  background-color: rgb(36, 146, 189);
}
header .link ul li a {
  text-decoration: none;
}
header .link ul li .active {
  background: rgb(208, 208, 253);
}
header .langues select {
  font-size: 25px;
}

.backgorud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.backgorud img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150vh;
  width: 100%;
}
.backgorud h1 {
  font-size: 40px;
  margin-top: 40px;
}
.backgorud p {
  background-color: #FF9933;
  width: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin-top: 60px;
  border-radius: 9px;
  padding: 10px;
}

.menus {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.menus .menu {
  font-size: 30px;
}
.menus .bu {
  margin-right: 20vh;
  background-color: #098600;
  height: 40px;
  width: 150px;
  margin-top: 90px;
  border-radius: 10px;
}
.menus .bu button {
  font-size: 20px;
  background-color: #098600;
  border: none;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}

@-webkit-keyframes cate {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes cate {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.cate h2 {
  width: 130px;
  background: orange;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.cate h2:hover {
  letter-spacing: 5px;
  color: orange;
}

.about-container {
  background: #edecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about-container .about-canteen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  font-size: larger;
}
.about-container .about-canteen h3 {
  color: #098600;
}
.about-container .about-canteen h1 {
  text-transform: uppercase;
}
.about-container img {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-p {
  text-align: center;
  padding-top: 20px;
}

.contact-imgs {
  background: #edecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-imgs img {
  width: 100%;
}

.QR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  gap: 30px;
  height: 22vh;
}
.QR .para {
  background: #ff9933;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.QR .moneys .img {
  height: 10vh;
  width: 100%;
}

.contacts .pa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contant {
  width: 100%;
  padding: 2% 10%;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table thead tr {
  background: #FF9933;
}
table td, table th {
  border: 1px solid rgb(13, 10, 10);
  padding: 15px;
}
table tbody tr:hover {
  background: rgba(198, 241, 248, 0.74);
}

.table-date {
  padding-bottom: 30px;
}
.table-date table thead tr th {
  text-transform: uppercase;
}
.table-date table tbody tr td:nth-child(1) {
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.btn button {
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  background: #FF9933;
  height: 10vh;
  width: 15%;
  border-radius: 15px;
  border: none;
}
.btn .btn-pop {
  width: 25%;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 50px auto;
  margin-left: 8vh;
  height: 67vh;
}
.card-container .card {
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-container .card .card-image1 img, .card-container .card .card-images img {
  display: block;
  width: 65%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-left: 20%;
}
.card-container .card-image1 {
  border-radius: 20px;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#129a8e), to(#38ed7c));
  background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
}
.card-container .card-image1 .ratana img {
  width: 24vh;
  margin-left: 25%;
}
.card-container .card-image1 .yon img {
  width: 20vh;
  height: 21vh;
}
.card-container .card-image1 .nana img {
  width: 35vh;
  margin-left: 25%;
  margin-top: 10px;
}
.card-container .card-images {
  border-radius: 20px;
  height: 210px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCEABB), color-stop(50%, #FCCD4D), color-stop(51%, #F8B500), to(#FBDF93));
  background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
}
.card-container .card-content {
  padding: 20px;
  background-color: #f9f9f9;
}
.card-container .card-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 95%;
  margin: 50px auto;
  margin-left: 8vh;
}
.card-container .card-content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  margin-top: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#129a8e), to(#38ed7c));
  background-image: linear-gradient(to right, #129a8e, #38ed7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-container .card-content p {
  margin-top: 20px;
  font-size: 15px;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-container .card-content button {
  background-color: #129a8e;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-top: 20px;
}
.card-container .card-content :hover {
  color: #F8B500;
}

.seemor {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80%;
}
.seemor .btns button {
  font-size: 20px;
  height: 7vh;
  background-color: #098600;
  width: 200%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  color: white;
  border-radius: 10px;
}
.seemor .btns button p {
  margin-top: 5%;
  margin-left: 10%;
}
.seemor .im img {
  background-color: white;
  margin-top: 20%;
  margin-left: 90%;
  border-radius: 100%;
}

.card-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  gap: 10px;
  text-align: center;
}
.card-food .card-food-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.card-food .card-food-card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  background: #BFBFBF;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-food .card-food-card .card-top img {
  width: 200px;
  height: 200px;
}
.card-food .card-food-card .card-top .card-left h1 {
  text-transform: uppercase;
}
.card-food .card-food-card .card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  background: #FF9933;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-food .card-food-card .card-right img {
  width: 200px;
  height: 200px;
}
.card-food .card-food-card .card-right .card-left h1 {
  text-transform: uppercase;
}
.card-food .card-food-card .card-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  background: #FF9933;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-food .card-food-card .card-last img {
  width: 200px;
  height: 200px;
}
.card-food .card-food-card .card-last .card-left h1 {
  text-transform: uppercase;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BFBFBF;
  height: 50vh;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .right {
  width: 40%;
}
footer .right img {
  width: 50%;
  margin-bottom: 10px;
  margin-left: 30px;
}
footer .right h2 {
  margin-left: 30px;
  margin-bottom: 10px;
}
footer .right p {
  margin-bottom: 10px;
  margin-left: 30px;
}
footer .center {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .center h2 {
  margin-left: 10px;
}
footer .center .facebook, footer .center .tik-tok, footer .center .you-tube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 10px;
}
footer .center .facebook .teen, footer .center .tik-tok .teen, footer .center .you-tube .teen {
  margin-left: 10px;
}
footer .left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .left h2 {
  margin-left: 10px;
}
footer .left .phone, footer .left .map, footer .left .Email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 10px;
}
footer .left .phone .teen, footer .left .map .teen, footer .left .Email .teen {
  margin-left: 10px;
}
footer .linkes {
  color: blue;
  background-color: #BFBFBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
  width: 100%;
}
footer .linkes {
  color: blue;
  background-color: #BFBFBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #FF9933;
    height: 8vh;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #FF9933;
    height: 13vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .img-flung {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    width: 15%;
    margin-top: 5px;
  }
  header .img-flung .cambodia {
    margin-right: 20px;
  }
  header .img-flung .cambodia img {
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .The-UK {
    margin-right: 200px;
  }
  header .The-UK img {
    margin-right: 10px;
    width: 20px;
    height: 23px;
    margin-top: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 25%;
  }
  .imgs img {
    margin-right: 20px;
    width: 200px;
    height: 50px;
  }
  .link {
    width: 50%;
  }
  .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    gap: 10px;
  }
  .link ul li {
    list-style: none;
    font-size: 30px;
    gap: 10px;
  }
  .link ul li:hover {
    background-color: rgb(36, 146, 189);
  }
  .link ul li a {
    text-decoration: none;
  }
  .langues {
    width: 10%;
    margin-right: 70px;
    size: 100px;
  }
  .langues select {
    font-size: 25px;
  }
  .backgorud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .backgorud img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 99vh;
    width: 100%;
  }
  .backgorud h1 {
    font-size: 24px;
    margin-top: 80px;
  }
  .backgorud p {
    background-color: #FF9933;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    margin-top: 60px;
    border-radius: 9px;
    padding: 10px;
    display: flex;
  }
  .menus {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
  .menus .menu {
    font-size: 30px;
  }
  .menus .bu {
    margin-right: 10%;
    background-color: #098600;
    height: 40px;
    width: 150px;
    margin-top: 26%;
    border-radius: 10px;
  }
  .menus .bu button {
    font-size: 20px;
    background-color: #098600;
    border: none;
    color: white;
    margin-top: 7px;
    margin-left: 40px;
  }
  @-webkit-keyframes cate {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes cate {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .cate h2 {
    width: 130px;
    background: orange;
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .cate h2:hover {
    letter-spacing: 5px;
    color: orange;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
    height: 40vh;
  }
  .card-container .card {
    width: 23%;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container .card .card-image1 .ratana img {
    display: block;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10%;
  }
  .card-container .card .card-images img {
    display: block;
    width: 80%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .card-container .card-image1 {
    border-radius: 20px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#129a8e), to(#38ed7c));
    background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
  }
  .card-container .card-image1 .ratana img {
    height: 100%;
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 2%;
  }
  .card-container .card-image1 .yon img {
    width: 110%;
    height: 100%;
  }
  .card-container .card-image1 .nana img {
    width: 100%;
    height: 100%;
    margin-left: 5%;
  }
  .card-container .card-images {
    border-radius: 20px;
    height: 21vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCEABB), color-stop(50%, #FCCD4D), color-stop(51%, #F8B500), to(#FBDF93));
    background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  }
  .card-container .card-content {
    background-color: #f9f9f9;
  }
  .card-container .card-content .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 50px auto;
  }
  .card-container .card-content .price .order button {
    width: 139%;
    gap: 10px;
  }
  .card-container .card-content h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
    margin-top: 30px;
    background-image: -webkit-gradient(linear, left top, right top, from(#129a8e), to(#38ed7c));
    background-image: linear-gradient(to right, #129a8e, #38ed7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card-container .card-content p {
    margin-top: 20px;
    font-size: 15px;
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-container .card-content button {
    background-color: #129a8e;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
  }
  .card-container .card-content :hover {
    color: #F8B500;
  }
  .seemor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 100%;
    width: 20%;
  }
  .seemor .btns button {
    font-size: 20px;
    height: 4vh;
    margin-top: 100%;
    margin-right: 9000%;
    background-color: #098600;
    width: 140%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    color: white;
    border-radius: 10px;
  }
  .seemor .btns button p {
    margin-top: 5%;
    margin-left: 6%;
  }
  .seemor .im img {
    background-color: white;
    margin-top: 250%;
    margin-left: 25%;
    border-radius: 100%;
  }
  footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #BFBFBF;
    height: 35vh;
    margin-top: 10%;
  }
  footer .right {
    width: 40%;
  }
  footer .right img {
    width: 50%;
    margin-bottom: 10%;
    margin-left: 30px;
  }
  footer .right h2 {
    margin-left: 30px;
  }
  footer .right p {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  footer .center {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .center h2 {
    margin-top: 15px;
    margin-left: 30px;
  }
  footer .center .facebook, footer .center .tik-tok, footer .center .you-tube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 30px;
  }
  footer .center .facebook img, footer .center .tik-tok img, footer .center .you-tube img {
    width: 50px;
    height: 40px;
    margin-top: 10px;
  }
  footer .center .facebook .teen, footer .center .tik-tok .teen, footer .center .you-tube .teen {
    margin-left: 10px;
  }
  footer .left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .left h2 {
    margin-top: 20px;
    margin-left: 30px;
  }
  footer .left .phone, footer .left .map, footer .left .Email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 30px;
    margin-left: 10px;
    width: 100%;
  }
  footer .left .phone img, footer .left .map img, footer .left .Email img {
    width: 40px;
    height: 40px;
  }
  .linkes {
    color: blue;
    background-color: #BFBFBF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    height: 30vh;
  }
  .about-container h3 {
    font-size: 20px;
  }
  .about-container h1 {
    font-size: 25px;
  }
  .about-container img {
    width: 200px;
    height: 25vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .btn button {
    font-size: medium;
    height: 6vh;
    width: 15%;
    border-radius: 5px;
  }
  .btn .btn-pop {
    font-size: small;
    width: 25%;
  }
  .card-food .card-food-card h1 {
    font-size: medium;
  }
  .card-food .card-food-card p {
    font-size: small;
  }
  .card-food .card-food-card .card-last {
    display: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #BFBFBF;
    height: 45vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .center p {
    font-size: 12px;
  }
  footer .left p {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 13vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .img-flung {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    width: 15%;
    margin-top: 5px;
  }
  header .img-flung .cambodia {
    margin-right: 20px;
  }
  header .img-flung .cambodia img {
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .The-UK {
    margin-right: 200px;
  }
  header .The-UK img {
    margin-right: 10px;
    width: 20px;
    height: 23px;
    margin-top: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 25%;
  }
  header .imgs img {
    margin-right: 20px;
    width: 200px;
    height: 50px;
  }
  header .link {
    width: 50%;
  }
  header .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    gap: 10px;
  }
  header .link ul li {
    list-style: none;
    font-size: 30px;
    gap: 10px;
  }
  header .link ul li:hover {
    background-color: rgb(36, 146, 189);
  }
  header .link ul li a {
    text-decoration: none;
  }
  header .langues {
    width: 10%;
    margin-right: 70px;
    size: 100px;
  }
  header .langues select {
    font-size: 25px;
  }
  .QR .para {
    width: 50%;
    height: 15vh;
  }
  .QR .para p {
    width: 60%;
    font-size: 20px;
  }
  .QR .moneys img {
    height: 15vh;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #FF9933;
    height: 15vh;
    height: 30vh;
  }
  header .img-flung {
    display: none;
  }
  header .imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
    justify-content: end;
    object-fit: cover;
  }
  header .imgs img {
    width: 140%;
    height: 60px;
  }
  header .link {
    width: 50%;
  }
  header .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
    gap: 60px;
    margin-left: 45px;
    gap: 30px;
  }
  header .link ul li {
    list-style: none;
    font-size: 30px;
  }
  header .link ul li:hover {
    background-color: rgb(36, 146, 189);
  }
  header .link ul li a {
    text-decoration: none;
  }
  header .langues {
    display: none;
  }
  .backgorud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .backgorud img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  .backgorud h1 {
    font-size: 20px;
    margin-top: 40px;
  }
  .backgorud p {
    background-color: #FF9933;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 9px;
    padding: 10px;
    display: flex;
  }
  .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }
  .menus .bu {
    margin-bottom: 28%;
    margin-right: 10%;
    background-color: #098600;
    border-radius: 10px;
  }
  .menus .bu button {
    font-size: 20px;
    background-color: #098600;
    border: none;
    color: white;
  }
  @-webkit-keyframes cate {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes cate {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .cate h2 {
    width: 130px;
    background: orange;
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .cate h2:hover {
    letter-spacing: 5px;
    color: orange;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 25px;
    height: 1px;
  }
  .card-container .card {
    margin-top: 10px;
    width: 80px;
    height: 40vh;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container .card .card-image1 img, .card-container .card .card-images img {
    margin-top: 20px;
    width: 60px;
    height: 65px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-container .card-image1 {
    height: 34%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#129a8e), to(#38ed7c));
    background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
  }
  .card-container .card-images {
    height: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FCEABB), color-stop(50%, #FCCD4D), color-stop(51%, #F8B500), to(#FBDF93));
    background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  }
  .card-container .card-content {
    width: 100%;
    background-color: #f9f9f9;
  }
  .card-container .card-content h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 10px;
    margin-top: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(#129a8e), to(#38ed7c));
    background-image: linear-gradient(to right, #129a8e, #38ed7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card-container .card-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 8px;
  }
  .card-container .card-content button {
    display: none;
  }
  .card-container .card-content :hover {
    color: #F8B500;
  }
  .seemor {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 60%;
    margin-top: 75%;
  }
  .seemor .btns button {
    font-size: 14px;
    height: 4vh;
    background-color: #098600;
    width: 200%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    color: white;
    margin-top: 60%;
    border-radius: 10px;
  }
  .seemor .btns button p {
    margin-left: 10%;
  }
  .seemor .im img {
    width: 70%;
    background-color: white;
    margin-top: 120%;
    margin-left: 60%;
    border-radius: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-container {
    height: 40vh;
  }
  .about-container h3 {
    font-size: 15px;
  }
  .about-container h1 {
    font-size: 20px;
  }
  .about-container img {
    width: 200px;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about-p {
    font-size: small;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn button {
    font-size: medium;
    height: 7vh;
    width: 25%;
    border-radius: 7px;
  }
  .btn .btn-pop {
    font-size: small;
    width: 40%;
  }
  .table-date {
    width: 100%;
  }
  .table-date table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    font-size: 8px;
  }
  .table-date table thead, .table-date table tbody {
    width: 100%;
  }
  .table-date table thead tr, .table-date table tbody tr {
    width: 100%;
  }
  .table-date table thead tr th, .table-date table tbody tr th {
    width: 100%;
    font-size: 10px;
  }
  .table-date table tbody tr td:nth-child(1) {
    font-size: 10px;
  }
  .table-date table tbody tr td:nth-child(1) td {
    font-size: 15px;
    width: 100%;
  }
  .card-food {
    width: 100%;
  }
  .card-food .card-food-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .center {
    margin-top: 50px;
  }
  footer .left {
    display: none;
  }
  footer .linkes {
    margin-left: 20px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contant-form {
    width: 100%;
  }
  .container {
    height: 40vh;
    width: 100%;
    margin-bottom: 20px;
  }
  .container .contant-right {
    margin-top: 30px;
  }
  .container .contant-right .name {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .contant-right .email-phone {
    margin-bottom: 10px;
  }
  .container .contant-right .Message {
    margin-bottom: 20px;
  }
  .container .contant-right .Message input[type=message] {
    height: 5vh;
  }
  .container .contant-right input[type=text] {
    height: 4vh;
  }
  .container .contant-right .form-btn button {
    margin-bottom: 20px;
    height: 4vh;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .QR .para {
    height: 10vh;
  }
  .contant-form {
    width: 100%;
  }
  .container {
    height: 103vh;
    width: 100%;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .contant-left {
    margin-top: 40px;
  }
  .container .form-links p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .container .Message input[type=message] {
    height: 4vh;
  }
  .container .form-btn {
    margin-bottom: 30px;
  }
}