header {
  display: flex;
  flex-direction: row;
  background-color: #FF9933;
  height: 12vh;
  justify-content: space-between;
  align-items: center;
}
header .img-flung {
  display: flex;
  gap: 5px;
}
header .img-flung .cambodia img {
  margin-left: 10px;
  width: 10vh;
  height: 30px;
  margin-top: 5px;
}
header .img-flung .The-UK img {
  margin-right: 10px;
  width: 10vh;
  height: 30px;
  margin-top: 5px;
}
header .imgs img {
  display: flex;
  width: 25vh;
  justify-content: space-between;
  margin-left: 10vh;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 10vh;
}
header .link ul {
  display: flex;
  margin-left: 90vh;
  gap: 15px;
}
header .link ul li {
  list-style: none;
  font-size: 25px;
}
header .link ul li a {
  text-decoration: none;
}
header .langues select {
  font-size: 25px;
}

.backgorud {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.backgorud img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150vh;
  width: 224.8vh;
}
.backgorud h1 {
  font-size: 40px;
  margin-top: 40px;
}
.backgorud p {
  background-color: #FF9933;
  width: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 60px;
  border-radius: 9px;
  padding: 10px;
}

.menus {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.menus .menu {
  font-size: 30px;
}
.menus .bu {
  margin-right: 20vh;
  background-color: #098600;
  height: 40px;
  width: 150px;
  margin-top: 100px;
  border-radius: 10px;
}
.menus .bu button {
  font-size: 20px;
  background-color: #098600;
  border: none;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}

.cate h2 {
  color: #68A942;
}

.about-container {
  background: #edecec;
  display: flex;
  justify-content: space-around;
}
.about-container .about-canteen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: larger;
}
.about-container .about-canteen h3 {
  color: green;
}
.about-container .about-canteen h1 {
  text-transform: uppercase;
}
.about-container img {
  height: 50vh;
}

#about-p {
  text-align: center;
  padding-top: 30px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 95%;
  margin: 50px auto;
  margin-left: 8vh;
  height: 67vh;
}
.card-container .card {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
  display: flex;
  flex-direction: column;
}
.card-container .card .card-image1 img, .card-container .card .card-images img {
  display: block;
  width: 65%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-left: 20%;
}
.card-container .card-image1 {
  border-radius: 20px;
  position: relative;
  padding: 0;
  background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
}
.card-container .card-image1 .ratana img {
  width: 24vh;
  margin-left: 25%;
}
.card-container .card-image1 .yon img {
  width: 20vh;
  height: 21vh;
}
.card-container .card-image1 .nana img {
  width: 35vh;
  margin-left: 25%;
  margin-top: 10px;
}
.card-container .card-images {
  border-radius: 20px;
  height: 210px;
  background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
}
.card-container .card-content {
  padding: 20px;
  background-color: #f9f9f9;
}
.card-container .card-content .price {
  display: flex;
  gap: 30px;
  width: 95%;
  margin: 50px auto;
  margin-left: 8vh;
}
.card-container .card-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #129a8e, #38ed7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-container .card-content p {
  margin-top: 20px;
  font-size: 15px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container .card-content button {
  background-color: #129a8e;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-top: 20px;
}
.card-container .card-content :hover {
  color: #F8B500;
}

.seemor {
  height: 8vh;
  display: flex;
  margin-left: 80%;
}
.seemor .btns button {
  font-size: 20px;
  height: 7vh;
  background-color: #098600;
  width: 200%;
  justify-content: flex-start;
  display: flex;
  border: none;
  color: white;
  border-radius: 10px;
}
.seemor .btns button p {
  margin-top: 5%;
  margin-left: 10%;
}
.seemor .im img {
  background-color: white;
  margin-top: 20%;
  margin-left: 90%;
  border-radius: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BFBFBF;
  height: 60vh;
  margin-top: 3%;
}
footer .right {
  width: 40%;
}
footer .right img {
  width: 50%;
  margin-bottom: 10%;
  margin-left: 30px;
}
footer .right h2 {
  margin-left: 30px;
  margin-bottom: 10%;
}
footer .right p {
  margin-bottom: 10px;
  margin-left: 30px;
}
footer .center {
  width: 30%;
  display: flex;
  flex-direction: column;
}
footer .center h2 {
  margin-left: 30px;
}
footer .center .facebook, footer .center .tik-tok, footer .center .you-tube {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin: 30px;
}
footer .center .facebook img, footer .center .tik-tok img, footer .center .you-tube img {
  width: 50px;
  height: 40px;
}
footer .center .facebook .teen, footer .center .tik-tok .teen, footer .center .you-tube .teen {
  margin-left: 10px;
}
footer .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}
footer .left h2 {
  margin-left: 30px;
}
footer .left .phone, footer .left .map, footer .left .Email {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin: 30px;
}
footer .left .phone img, footer .left .map img, footer .left .Email img {
  width: 40px;
  height: 40px;
}
footer .left .phone .teen, footer .left .map .teen, footer .left .Email .teen {
  margin-left: 10px;
}

.linkes {
  color: blue;
  background-color: #BFBFBF;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) and (max-width: 1280px) {
  header {
    display: flex;
    flex-direction: row;
    background-color: #FF9933;
    height: 8vh;
    align-items: center;
  }
  header .img-flung {
    display: flex;
    gap: 10px;
    width: 15%;
    margin-top: 5px;
  }
  header .img-flung .cambodia {
    margin-right: 20px;
  }
  header .img-flung .cambodia img {
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .img-flung .The-UK {
    margin-right: 200px;
  }
  header .img-flung .The-UK img {
    margin-right: 10px;
    width: 20px;
    height: 23px;
    margin-top: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .imgs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
  }
  header .imgs img {
    margin-right: 20px;
    width: 200px;
    height: 50px;
  }
  header .link {
    width: 50%;
  }
  header .link ul {
    display: flex;
    margin-left: 50px;
    gap: 10px;
  }
  header .link ul li {
    list-style: none;
    font-size: 28px;
    gap: 10px;
  }
  header .link ul li a {
    text-decoration: none;
  }
  header .langues {
    width: 10%;
    margin-right: 70px;
    size: 100px;
  }
  header .langues select {
    font-size: 25px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
}/*# sourceMappingURL=main.css.map */