@mixin text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    // text-align: center;
}
@mixin space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // text-align: center;
}
@mixin white{
    color: white;
}