@import "variable";
@import "group-mixin";


header{
    display: flex;
    flex-direction: row;
    background-color: $header-bg;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    .img-flung{
        display: flex;
        gap: 5px;
        .cambodia{
            img{
                margin-left: 10px;
                width: 10vh;
                height: 30px;
                margin-top: 5px;
            }
        }
        .The-UK{
            img{
                margin-right: 10px;
                width: 10vh;
                height: 30px;
                margin-top: 5px;
                
            }
        }
        
    }
    .imgs{
        img{
            display: flex;
            width: 25vh;
            justify-content: space-between;
            margin-left: 10vh;
            border-radius: 5px;
            object-fit: cover;
            height: 10vh;
        }
    }
    .link{
        ul{
            display: flex;
            margin-left: 80vh;
            gap: 15px;

            li{

                list-style: none;
                font-size: 25px;

                a{                
                    text-decoration: none;
                    // padding: 20px;

                }
                .active{
                    background: rgb(208, 208, 253);
                }
            }
            
        }
    }
    .langues{
        select{
            font-size: 25px;
        }
    }

}
// #backgroud
.backgorud{
    @include text-center;
    flex-direction: column;
    img{
        object-fit: cover;
        height: 150vh;
        width: 224.8vh;
    }
    h1{
       font-size: 40px;
        margin-top: 40px;
    }
    p{
        background-color: $header-bg;
        width: 110vh;
        @include text-center;
        font-size: 20px;
        margin-top: 60px;
        border-radius: 9px;
        padding: 10px;
    }
}
// menu
.menus{
    height: 15vh;
    @include space-between;
    margin-top: 10px;
    .menu{
        font-size: 30px;
    }
    .bu{
        margin-right: 20vh;
        background-color: $seeall-bg;
        height: 40px;
        width: 150px;
        margin-top: 90px;
        border-radius: 10px; 
        button{
            font-size: 20px;
            background-color:$seeall-bg;
            border: none;
            color: white;
            margin-top: 10px;
            margin-left: 40px;
        }
    }
}
.cate{
    h2{
        color: $text-food-bg;
    }
}
// Card1
.about-container{
    background: $about-container-bg;
    display: flex;
    justify-content: space-around;
    .about-canteen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        font-size: larger;
        h3{
            color:$seeall-bg;
        }
        h1{
            text-transform: uppercase;
        }
    }
    img{
        height: 50vh;
        object-fit: cover;
    }
}
#about-p{
    text-align: center;
    padding-top: 20px;
}
