@import "../components/variable";
@import "../components/group-mixin";
@media (min-width:768px) and (max-width:1024px){
    body{
        width: 100%;
    }
    header{  

        display: flex;
        flex-direction: row;
        background-color: $header-bg;
        height: 8vh;
        align-items: center;
        .img-flung{
            display: flex;
            gap: 10px;
            width: 15%;
            margin-top: 5px;
            .cambodia{
                margin-right: 20px;
                img{
                    // margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                }
            }
            .The-UK{
                margin-right: 200px;
                img{
                    margin-right: 10px;
                    width: 20px;
                    height: 23px;
                    margin-top: 5px;  
                    object-fit: cover;              
                }
            }           
        }
        .imgs{
            display: flex;
            align-items:center;
            justify-content: flex-end;
            width: 25%;
            img{
                margin-right: 20px;
                width: 200px;
                height: 50px;
            }
        }
        .link{
            width: 50%;     
            ul{   
                display: flex;
                margin-left: 50px;
                gap: 10px;
                li{                                   &:hover{
                    background-color: rgb(36, 146, 189);
                    }
                    list-style: none;
                    font-size: 30px;
                    gap: 10px;
    
                    a{                
                        text-decoration: none;
                        // padding: 20px;
                    }
                    
                }
                
            }
        }
        .langues{
            width: 10%;
            margin-right: 70px;
            size: 100px;
            select{
                font-size: 25px;
            }
        }
    
    }
    .backgorud{
        @include text-center;
        flex-direction: column;
        img{
            object-fit: cover;
            height: 99vh;
            width: 100%;
        }
        h1{
           font-size: 24px;
            margin-top: 80px;
        }
        p{
            background-color: $header-bg;
            width: 80%;
            @include text-center;
            font-size: 20px;
            margin-top: 60px;
            border-radius: 9px;
            padding: 10px;
            display: flex;
        }
    }
    // menu
    .menus{
        height: 15vh;
        @include space-between;
        margin-top: 50px;
        .menu{
            font-size: 30px;
        }
        .bu{
            margin-right: 10%;
            background-color: $seeall-bg;
            height: 40px;
            width: 150px;
            margin-top: 26%;
            border-radius: 10px; 
            button{
                font-size: 20px;
                background-color:$seeall-bg;
                border: none;
                color: white;
                margin-top: 7px;
                margin-left: 40px;
            }
        }
    }
    .cate{
        @keyframes cate{
            from{
                transform: translateX(-300px);
            }
            to{
                transform: translateX(0px);
            }
        }
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to{
                transform: rotate(360deg);
            }
        }
        
        h2{
            width: 130px;
            background: orange;
            animation-name: rotate;
            animation-duration: 60s;
            animation-delay: 0s;
            
            
        }
        h2:hover{
            letter-spacing: 5px;
            color: orange;
    
        }
    }
//  card1
    .card-container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin: 20px ;
        // margin-left:8vh;
        height: 40vh;
        .card {
            width: 23%;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
            display: flex;
            flex-direction: column;
            .card-image1{              
                .ratana
                img {
                    display: block;                 height: 200px; 
                    object-fit: cover; 
                    border-radius: 10px;
                    margin-bottom: 10%;
                    
                }
            }
            .card-images {
                img {
                    display: block;
                    width: 80%;
                    height: 200px; 
                    object-fit: cover; 
                    border-radius: 10px;
                }
            }
        }
        .card-image1 {
            border-radius: 20px;
            height: 100%;
            background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
            .ratana{
                img{
                    height: 100%;
                    width: 90%;
                    object-fit: cover;
                    margin-left: 2%;
                }
            }
            .yon{
                img{
                    width: 110%;
                    height: 100%;
                }
            }
            .nana{
                img{
                    width: 100%;
                    height: 100%;
                    margin-left: 5%;

                }           
            }
        }
        .card-images {
            border-radius: 20px;
            height: 21vh; 
            background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
        }
        .card-content {
            background-color: #f9f9f9;
    // play drink
            .price{
                display: flex;
                width: 100%;
                margin: 50px auto;
                .order{
                    button{
                        width: 139%;
                        gap: 10px;
                    }
                }
            }
            h3 {
                @include text-center;
                font-size: 25px;
                margin-top: 30px;
                background-image: linear-gradient(to right, #129a8e, #38ed7c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                margin-top: 20px;
                font-size: 15px;
                color: #444;
                @include text-center;
            }

            button {
                background-color: #129a8e;
                border: none;
                color: white;
                padding: 10px 15px;
                border-radius: 5px;

                font-size: 15px;
                margin-top: 20px;
                
            }
            :hover{
                
                color: #F8B500;
            }
        }
    }
    // card1 seemore
    .seemor{
        display: flex;
        margin-right: 100%;
        width: 20%;
    .btns{
        button{
            font-size: 20px;
            height: 4vh;
            margin-top: 100%;
            margin-right: 9000%;
            background-color: $seeall-bg;
            width: 140%;
            justify-content: flex-start;
            display: flex;
            border: none;
            color: $white-bg;
            border-radius: 10px;
            p{
                margin-top: 5%;
                margin-left:6%;
            }
        }
    }
    .im{
        img{
            background-color: $white-bg;
            margin-top: 250%;
            margin-left: 25%;
            border-radius: 100%;
        }
    }  
    }
    // respon footer
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray-bg;
        height: 35vh;
        margin-top: 10%;
        .right{
            width: 40%;
            img{
                width: 50%;
                margin-bottom: 10%;
                margin-left: 30px;
            }
            h2{
                margin-left: 30px;
            }
            p{
                margin-bottom: 10px;
                margin-left: 30px;
            }
        }
        .center{
            h2{
                margin-top: 15px;
                margin-left: 30px;
            }
            width: 30%;   
            display: flex;
            flex-direction: column;
            .facebook, .tik-tok, .you-tube{
                @include text-center;
                justify-content: start;
                margin: 30px;
                img{
                    width: 50px;
                    height: 40px;
                    margin-top: 10px;
                }
                .teen{
                    margin-left: 10px;
                }
            }
        }
        .left{
            h2{
                margin-top: 20px;
                margin-left: 30px;
            }
            width: 30%;
            display: flex;
            flex-direction: column;
            .phone, .map, .Email{
                @include text-center;
                justify-content: start;
                margin: 30px;
                img{
                    width: 40px;
                    height: 40px;
                }
                .teen1 {
                    }
                    margin-left: 10px;
                    width: 100%;
                }                  
            }
        }      
    }
    .linkes{
        color: $blue-gg;
        background-color: $gray-bg;
        @include text-center;
    }

// responsive phone
@media (min-width:320px) and (max-width:767px){
    header{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        background-color: $header-bg;
        height: 15vh;
        .img-flung{
            display: none;  
        }
        .imgs{  
            flex-wrap: wrap;    
            display: flex;
            align-items:center;
            margin-left: 90px;
            justify-content: end;   
            object-fit: cover;
            img{
                width: 140%;
                height: 60px;
            }
        }
        .link{
            width: 50%;     
            ul{   
                display: flex;
                margin-left: 100px;
                gap: 60px;
                li{
                    &:hover{
                        background-color: rgb(36, 146, 189);
                    }
                    list-style: none;
                    font-size: 30px;
                    a{                
                        text-decoration: none;
                    }
                    
                }
                
            }
        }
        .langues{
            display: none;
        }
    }
    .backgorud{
        @include text-center;
        flex-direction: column;
        img{
            object-fit: cover;
            height: 100vh;
            width: 100%;
        }
        h1{
           font-size: 20px;
            margin-top: 40px;
        }
        p{
            background-color: $header-bg;
            width: 80%;
            @include text-center;
            font-size: 16px;
            margin-top: 30px;
            border-radius: 9px;
            padding: 10px;
            display: flex;
        }
    }
        // menu
    .menus{
        @include space-between;
        margin-top: 10px;
        .bu{
            margin-bottom: 28%;
            margin-right: 10%;
            background-color: $seeall-bg;
            border-radius: 10px; 
            button{
                font-size: 20px;
                background-color:$seeall-bg;
                border: none;
                color: white;
            }
        }
    }
    .cate{
        @keyframes cate{
            from{
                transform: translateX(-300px);
            }
            to{
                transform: translateX(0px);
            }
        }
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to{
                transform: rotate(360deg);
            }
        }
        
        h2{
            width: 130px;
            background: orange;
            animation-name: rotate;
            animation-duration: 60s;
            animation-delay: 0s;
            
            
        }
        h2:hover{
            letter-spacing: 5px;
            color: orange;
    
        }
    }
    .card-container {
        display: flex;
        justify-content: space-between;
        width:90%;
        margin: 25px;
        height: 1px;
        .card{
            margin-top: 10px;
            width: 80px;
            height: 40vh;
            box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px 0;
            display: flex;
            flex-direction: column;
            .card-image1, .card-images {
                img {
                    margin-top: 20px;
                    width:60px;
                    height: 65px; 
                    object-fit: cover;                   
                }
            }
        }
        .card-image1 {
            height: 34%;
            background-image: linear-gradient(to bottom, #129a8e, #38ed7c);
        }
        .card-images {
            height: 100px; 
            background-image: linear-gradient(to bottom, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
        }
        .card-content {
            width: 100%;
            background-color: #f9f9f9;
    // play drink
            h3 {
                @include text-center;
                font-size: 10px;
                margin-top: 1px;
                background-image: linear-gradient(to right, #129a8e, #38ed7c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }   
            p {
                @include text-center;
               font-size: 8px;
            }     
            button {
                display: none;
            }
            :hover{
                
                color: #F8B500;
            }
        }
    }
    .seemor{
        height: 8vh;
        display: flex;
        margin-left: 60%;   
        margin-top: 75%;
       .btns{
        button{
            font-size: 14px;
            height: 4vh;
            background-color: $seeall-bg;
            width: 200%;
            justify-content: flex-start;
            display: flex;
            border: none;
            color: $white-bg;
            margin-top: 60%;
            border-radius: 10px;
            p{
                // margin-top: 20%;
                margin-left: 10%;
            }
        }
       }
       .im{
        img{
            width: 70%;
            background-color: $white-bg;
            margin-top: 120%;
            margin-left: 60%;
            border-radius: 100%;
        }
       }
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray-bg;
        height: 40vh;
        margin-top: 3%;
        .right{
            width: 35%;
            img{
                width: 70%;
                margin-bottom: 10%;
                margin-left:11px;
            }
            h2{
                font-size: 18px;
                margin-left: 15px;
                margin-bottom: 10%;
            }
            p{
                margin-bottom: 10px;
                margin-left: 15px;
            }
        }
        .center{
            margin-top:  80px;
            h2{
                font-size: 20px;
            }
            width: 35%;  
            display: flex;
            flex-direction: column;
            .facebook, .tik-tok, .you-tube{
                @include text-center;
                justify-content: start;
                margin: 30px;
                img{
                    width: 50px;
                    height: 40px;
                }
                .teen{
                    margin-left: 10px;
                }
            }
            .you-tube{
                display: none;
            }
        }
        .left{ 
            margin-top: 80px;
            h2{
                font-size: 20px;
                margin-left: 30px;
            }
            width: 30%;
            display: flex;
            flex-direction: column;
            .phone, .map{
                @include text-center;
                justify-content: start;
                margin: 4px;
                margin-top: 30px;
                
                img{
                    width: 40px;
                    height: 40px;
                }
                .teen{
                    margin-left: 10px;
                }
            }
            .Email{
                display: none;
            }
        }
        
    }
    .linkes{
        color: $blue-gg;
        background-color: $gray-bg;
        @include text-center;
    }
}
    // <!-- card name food -->






